.titulo {
    font-size: 40px;
    font-family: fantasy;
    text-align: center;
    text-shadow:
    -1px -1px 1px #aaa, 
    0px 4px 1px #1A309E, 
    4px 4px 5px #eac335be, 
    0px 0px 7px #1A309E

  }
  
.texto{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    color: rgb(12, 14, 14);
  }

body {
    width: 750px;
    margin: 0 auto;
    background-image: linear-gradient(-20deg, #e6ff07d8 0%, #21d4fd 100%);

  }
   
.cuerpo{
  padding: 10 20px 20px 20px;
  border: 5px solid #040404;
  padding-left: 1%;
  padding-right: 1%;
}
.btn-outline-primary{
    width: 100%;
}
.nav{
  margin-left: auto;
  color: black;
  
}
.foot{
  padding-left: 82%;
}
.imagenes-importantes{
  height: 500px;

  width: 800px;

  object-fit: cover;
} 